

.nice-link {
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
}
.nice-link-active{
    color: #0D6EFD !important
}

.nice-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0D6EFD, transparent);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.nice-link:hover {
  color: #0D6EFD;
}

.nice-link:hover::after {
  opacity: 1;
  animation: shimmer111 2s linear infinite !important;
}

@keyframes shimmer111 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
