

.selectp{
  margin-bottom: 5px;
  display: flex;
  gap: 15px;
}
.selectp select{
  width: 230px;
  font-size: 1.5rem;
  color: #ccc;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 15px;
  border: none;
  outline: none;
}
.selectp option{
  
}
.selectp p{
  margin: 0;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.project-card{
  background-color: #ccc;
}
/*
@media only screen and (max-width: 765px) {
  .card-body p{
    
    font-size: 21px;
  }
}
@media only screen and (max-width: 376px) {
  .card-body p{
    
    font-size: 15px;
  }
}*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
@media only screen and (max-width: 1025px) {
  .selectp{
  flex-direction: column;
  align-items: center;
  }
}
@media only screen and (max-width: 825px) {
  .extra-tecnologies{
    display: none;
  }
}